{% extends "base.html" %}

{% block title %}Menu &mdash; Flask Burger{% endblock %}

{% block content %}
    <header id="gtco-header" class="gtco-cover gtco-cover-sm menu-header-bg" role="banner" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">
                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
                            <h1 class="cursive-font">Taste all our menu!</h1>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font primary-color">Platos populares</h2>
                </div>
            </div>
            
            <div class="row">
                {% for plato in platos %}
                {% if plato.estado == 1 %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="{{ url_for('static', filename='img/' ~ plato.imagen) }}" class="fh5co-card-item image-popup">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img src="{{ url_for('static', filename='img/' ~ plato.imagen) }}" alt="{{ plato.nombre }}" class="img-responsive">
                        </figure>
                        <div class="fh5co-text">
                            <h2>{{ plato.nombre }}</h2>
                            <p>{{ plato.descripcion }}</p>
                            <p><span class="price cursive-font">${{ plato.precio }}</span></p>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                </div>

        </div>
    </div>
{% endblock %}