{% extends 'gestion/base_dashboard.html' %}
{% block title %}Panel - Servicios Extras{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block boton_crear %}
    <a href="{{ url_for('admin.crear_servicio_vista') }}" class="btn btn-primary btn-lg shadow-sm">
        Agregar Nuevo Servicio
    </a>
{% endblock %}

{% block cabecera_tabla %}
    <th>ID</th>
    <th>Nombre del Servicio</th>
    <th>Alta en Sistema</th>
    <th>Estado</th>
{% endblock %}

{% block cuerpo_tabla %}
    {% for servicio in servicios %}
    <tr>
        <td><code>#{{ servicio.id }}</code></td>
        <td><strong class="text-dark">{{ servicio.nombre }}</strong></td>
        <td><small class="text-muted">{{ servicio.fecha_creacion.strftime('%d/%m/%Y %H:%M') if servicio.fecha_creacion else 'N/A' }}</small></td>
        <td>
            {% if servicio.activo  == True %}
                <span class="label label-success">Activo</span>
            {% else %}
                <span class="label label-danger">Inactivo</span>
            {% endif %}
        </td>
        <td class="text-center">
            <div class="btn-group-acciones">
                <a href="{{ url_for('admin.editar_servicio_vista', id_servicio=servicio.id) }}" class="btn-editar" title="Editar">
                    Editar
                </a>
                
                <form action="{{ url_for('admin.eliminar_servicio', id_servicio=servicio.id) }}" method="POST" class="form-eliminar">
                    <button type="submit" class="btn-eliminar">Eliminar</button>
                </form>
            </div>
        </td>
    </tr>
    {% else %}
    <tr><td colspan="5" class="text-center text-muted py-4">No hay servicios registrados en este momento.</td></tr>
    {% endfor %}
{% endblock %}